<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=127.0.0.1;port=3308;user=root;password=;database=medical_reports_app;SslMode=None;" />

    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEmail" value="your_email@gmail.com" />
    <add key="SmtpPassword" value="your_app_password" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="FromName" value="Medical Reports App" />
  </appSettings>
</configuration>
